################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleNote/.vs/SimpleNote/v15
/SimpleNote/SimpleNote/obj
*.bak
/SimpleNote/SimpleNote/bin/Release
/SimpleNote/SimpleNote/bin/Debug
/SimpleNote/packages/ToolsPortable.1.1.0
/SimpleNote/packages
