################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleNote/.vs/SimpleNote/v15
/SimpleNote/SimpleNote/obj
*.bak
